* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color: #101010;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: #101010;
}
::-webkit-scrollbar-thumb{
  background-color: #0E3A73;
  border-radius: 10px ;
}





